.column-id {
	width: 40px;
	white-space: nowrap;
}
.column-spreadsheet_id {
	width: auto;
}
.column-sheet_name,
.column-sync_status {
	width: 100px;
}
.sb-copy-id {
	text-decoration: none;
	color: inherit;
}
.sb-copy-id:hover {
	cursor: pointer;
	opacity: 0.7;
}
